# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/misc.xml
.idea/modules.xml
.idea/TEI-2.iml
.idea/workspace.xml
Aufgabe 4/cmake-build-debug/cmake_install.cmake
Aufgabe 4/cmake-build-debug/CMakeCache.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.exe
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-environment.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-log.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Aufgabe 4/cmake-build-debug/CMakeFiles/feature_tests.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile2
Aufgabe 4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/Aufgabe4.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/build.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/C.includecache
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.internal
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/DependInfo.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/embed.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/flags.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/intermediate.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.rc
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.res
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/vc140.pdb
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/wave.c.obj
Aufgabe 4/cmake-build-debug/Makefile
Aufgabe 4/cmake-build-debug/TEI2_4_2.cbp
.idea/.name
.idea/codeStyles/Project.xml
.idea/vcs.xml
Aufgabe 4/cmake-build-debug/cmake_install.cmake
Aufgabe 4/cmake-build-debug/CMakeCache.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.exe
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-environment.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-log.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Aufgabe 4/cmake-build-debug/CMakeFiles/feature_tests.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile2
Aufgabe 4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/Aufgabe4.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/build.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/C.includecache
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.internal
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/DependInfo.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/embed.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/flags.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/intermediate.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.rc
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.res
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/vc140.pdb
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/wave.c.obj
Aufgabe 4/cmake-build-debug/Makefile
Aufgabe 4/cmake-build-debug/TEI2_4_2.cbp
Aufgabe 4/cmake-build-debug/cmake_install.cmake
Aufgabe 4/cmake-build-debug/CMakeCache.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.exe
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-environment.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-log.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Aufgabe 4/cmake-build-debug/CMakeFiles/feature_tests.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile2
Aufgabe 4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/Aufgabe4.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/build.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/C.includecache
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.internal
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/DependInfo.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/embed.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/flags.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/intermediate.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.rc
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.res
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/vc140.pdb
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/wave.c.obj
Aufgabe 4/cmake-build-debug/Makefile
Aufgabe 4/cmake-build-debug/TEI2_4_2.cbp
Aufgabe 4/cmake-build-debug/TEI2_4_2.cbp
Aufgabe 4/cmake-build-debug/Makefile
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/wave.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/vc140.pdb
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.res
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.rc
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/intermediate.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/flags.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/embed.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/DependInfo.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.internal
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/C.includecache
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/build.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/Aufgabe4.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile2
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/feature_tests.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-log.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-environment.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.exe
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeCache.txt
Aufgabe 4/cmake-build-debug/cmake_install.cmake
Aufgabe 4/cmake-build-debug/TEI2_4_2.cbp
Aufgabe 4/cmake-build-debug/Makefile
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/wave.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/vc140.pdb
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.res
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/manifest.rc
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/intermediate.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/flags.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/embed.manifest
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/DependInfo.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/depend.internal
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/C.includecache
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/build.make
Aufgabe 4/cmake-build-debug/CMakeFiles/TEI2_4_2.dir/Aufgabe4.c.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile2
Aufgabe 4/cmake-build-debug/CMakeFiles/Makefile.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/feature_tests.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Aufgabe 4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-log.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/clion-environment.txt
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.obj
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.exe
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Aufgabe 4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Aufgabe 4/cmake-build-debug/CMakeCache.txt
Aufgabe 4/cmake-build-debug/cmake_install.cmake
